body {
	background-image: url("nyc.png");
	font-family: "Helvetica Light", Arial, sans-serif;
}

h1 {
	text-align: center;
	color: #000000;
	font: "Helvetica Light", Arial, sans-serif;
	font-size: 180%;
}
h2 {
	font-size: 110%
}
h3 {
	font-size: 110%
}
a {
	color: #FFFFFF;
	text-decoration: none;
	font-family: "Helvetica Light", Arial, sans-serif;
	font-size: 8px;
    font-weight: lighter
}
a:hover {
	text-decoration: underline;
}
#twitter {
	color: #FFFFFF;
}
#linkedin {
	color: #FFFFFF;
}
li {
	list-style-type: square;
	font-family: "Helvetica Light", Arial, sans-serif;
}
p {
	color: gray;
}
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #615761;
  font-size: 28px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #5e6569 2px;
  text-decoration: none;
}

.btn:hover {
  background: #fce23c;
  text-decoration: none;
}
