body {
	background-image: url("http://www.marion-b.com/files/gimgs/1_new-splash.jpg");
	font-family: "Helvetica"
}

#painting {
	border: 6px solid gray;
}
h1 {
	text-align: center;
	color: #FFFF66;
	font-size: 200%;
	font-family: "Helvetica"
}
h2 {
	font-size: 110%
}
h3 {
	font-size: 110%
}
a {
	color: #00CCCC;
	text-decoration: none;
	font-family: "Helvetica"
}
a:hover {
	text-decoration: line-through;
}
#twitter {
	color: #3399FF;
}
#linkedin {
	color: #CC6600;
}
li {
	list-style-type: square;
	font-family: "Helvetica"
}
p {
	color: gray;
}
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #615761;
  font-size: 28px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #5e6569 2px;
  text-decoration: none;
}

.btn:hover {
  background: #fce23c;
  text-decoration: none;
}
